@{
    ViewBag.Title = "Play";
}

<script>
    ///<reference path="Scripts/Common/jquery-2.0.3.js"/>
</script>

<h2>Play</h2>
<div id="divChat">
</div>
<input id='inpchat' />
<input type="button" id="btnChat" />
<div style="width: 800px; height: 600px; margin: auto; background-color: lightblue; text-align: center;">
    
   <div id="divText">

   </div>

</div>