@{
    ViewBag.Title = "Play";
}



<h2>Play</h2>

<style type="text/css">

    .btnstyle,  #divKeyboard button {
        outline: none;
        -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
        -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
        box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
        border-bottom-color: #333;
        border: 1px solid #61c4ea;
        background-color: #7cceee;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #333;
        font-family: 'Verdana',Arial,sans-serif;
        font-size: 24px;
        text-shadow: #b2e2f5 0 1px 0;
    }
    #divKeyboard button {
        visibility:hidden;
        position:absolute;
        padding: 5px;
        width: 65px;
        height: 65px;
        margin: 3px;
    }
        #divKeyboard button:hover {
            background-color: #60c9f1;
        }
        #divKeyboard button:active {
            background-color: #55c3ed;
        }
</style>

<div style="width: 800px; height: 600px; background-color: lightblue; margin:auto;">

        <div id="canvasOne" style="color: lightblue">
            
        </div>
    <div style="width: 100%; margin: auto; background-color: lightblue; text-align: center">
        <button id="btnplayAgain" class="btnstyle" onclick="PlayAgain()">თამაშის დაწყება</button></div>
    <div id="divKeyboard" style= "width:800px; margin:auto; background-color: lightblue;text-align:center">

    </div>
</div>
<script src="~/Scripts/Common/jquery-2.0.3.js" type="text/javascript"></script>
<script type="text/javascript">
    var playAgain = false;
    function PlayAgain() {
        window["gameClient"].RestartGame();
    }
    
    window.addEventListener("load",
   function (event) {

       for (var i = 97; i <= 122; i++) {
           var char = String.fromCharCode(i);
           var btn = document.createElement("button");
           var t = document.createTextNode(char);
           btn.appendChild(t);
           btn.id = 'btn' + char;
           btn.innerText = char;
           btn.value = char;
           btn.addEventListener("click", function (e) {
               //todo: Sesacvlelia
               window["gameClient"].sendChar(e.target.innerHTML);
           }, true);
           document.getElementById("divKeyboard").appendChild(btn);
       }

       if (window['gameClient']['timerHendler'] !=-1) {
           window['gameClient']['timerHendler']['updatePage']();
       }
       document.getElementById('btnplayAgain').style.visibility = 'hidden';


       setTimeout(function () {
       //todo: gadasatania mtavar kodSi
           window["gameClient"].RestartGame();
       }, 1000);
   }, true);

</script>

