@{
    ViewBag.Title = "Play";
}



<h2>Play</h2>
<div id="divChat">
</div>
<input id='inpchat' />
<input type="button" id="btnChat" />
<script type="text/javascript" src="~/Scripts/Common/kinetic-v4.4.3.min.js"></script>
<div style="width: 800px; height: 600px; background-color: lightblue; margin:auto;">

    
        <div id="canvasOne" style="color: lightblue">
            
        </div>



    <div id="divKeyboard" class=" margin:auto; background-color: lightblue">

    </div>
</div>
<script type="text/javascript">
    window.addEventListener("load",
   function (event) {
       for (var i = 97; i <= 122; i++) {
           var char = String.fromCharCode(i);
           var btn = document.createElement("BUTTON");
           var t = document.createTextNode(char);
           btn.appendChild(t);
           btn.id = 'btn' + char;
           btn.innerText = char;
           btn.value = char;
           btn.addEventListener("click", function (e) {
               window["gameClient"].sendCommand("msg", { code: -1, data: e.target.innerHTML });
           }, true);
           document.getElementById("divKeyboard").appendChild(btn);
       }
   }, true);
</script>

