<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<script src="/primus/primus.js"></script>*@
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/Common/require.js" data-main="/Scripts/Common/client"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
